* {
    margin: 0;
    padding: 0;
}

.cabecalho {
    background-image: linear-gradient(#3d2d2d,#ff0000);
    color:white;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 24px 0;
}

.cabecalho-imagem{
    width: 15%;
}

.cabecalho-lista-item{
    display: inline-block;
    margin: 0 16px;
    font-size: 20px;
}

.TextoIni-imagem{
    width: 25%;
}

.Texto-Inicial{
    background-image: linear-gradient(#ff0000,#000000);
    color:white;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 24px 0;
}

.TextoIni-div-conteudo{
    width: 35%;
}
.TextoIni-titulo{
    padding: 24px 0;
}
.anta-regular {
    font-family: "Anta", sans-serif;
    font-weight: 400;
    font-style: normal;
  }
  .Ft1-imagem{
    width: 120px;
}
